.ul-list-home{
    display: flex;
    width: 1310px;
    height: 163px;
    justify-content: space-between;
    align-items: center;
    background-color: #5A5AC9;;
    color: #fff;
    padding-left: 30px;
}

.section-1{
    width: 1520px;
    height: 335px;
    
    
}

.section-component{
    margin: 80px 116px 80px 116px;
    
}



.section-content{
    display: flex;
}

.order{
    margin-left: 16px;
    width: 250px;
}

.ready-img{
    margin-top: 80px;
    display: flex;
    gap: 24px;
}

.product-container{
    text-align: center;
}

.product-first-div{
    width: 1320px;
}


.product-content{
    align-items: center;
}

.hr1{
    width: 80px;
    height: 2px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #5A5AC9;
}

.product-menu-list{
    align-items: center;
}

.products-menu{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 45px;
}

.tag-a{
    color: black;
}

