@import 'social';
@import 'navbar';
@import 'carousel';
@import 'header';
@import 'footer';


*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    
}

a:hover{
    color: blue;
}

.container{
    width: 1520px;
    margin: 0 auto;
}

