ul{
  display: flex;
  gap: 20px
  ;
}

li{
  
  border: 2px solid green;
  color: red;
  list-style-type: none;
  width: 100px;
  height: 20px;
}

li:hover{
  border: 2px solid rgb(36, 0, 128);
  background-color: brown;
  color: gold;
  width: 200px;
  height: 50px;
}